.left_Side_main{
    background-color: #161e31;
    color: #ffff;
    text-align: center;
  }
  .left_header h2{
    text-align: center;
    font-size: 30px !important;
    padding-top: 30px;
    padding-bottom: 2rem;
  }
  .borderE{
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px;
    height: 504px;
  }
  .left_header p{
    line-height: 27px;
    text-align: center;
    font-size: 13px;
    color: #af9d9d;
  }
  .clr{
    color: #03c9d7;
  }
 .logor{
    margin-top: 30px;
  }
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .icon {
    padding: 10px;
    color: rgb(150, 148, 148);
    min-width: 50px;
    text-align: center;
    margin-top: 8px;
  }
  .btnr {
    background-color: #03c9d7;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 84%;
    opacity: 0.9;
    
  }
  
  .btnr:hover {
    opacity: 1;
    background-color: #03a6d7;
    color: #fff;
  }
  .regInput{
    border: 1px solid rgb(187, 179, 179);
    padding: 10px;
    border-radius: 3px;
    width: 100%;
  }
  .regbutton{
    display: flex;
    align-items: center;
    justify-content: end;
  }

  /* start tooltip */

  .tooltip {
    background: #1496bb;
    bottom: 100%;
    color: #fff;
    display: block;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
        transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    }
    
    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    }
    
    /* CSS Triangles - see Trevor's post */
    .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
    }
    
     .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    
    /* IE can just show/hide with no transition */
   
    
   .disable{
    cursor: no-drop !important;
    background-color: #54b5bca3;
   }

   .disable:hover{
    background-color: #54b5bca3;
   }